textarea {
    width: 100%;
    background-color: rgb(206, 202, 202);

}
button {
    width: 9%;
    background-color: green;
    color:white;
    align-self: flex-end;
    text-align: center;
    border: none;
    margin: 10px 0;
    height: 2rem;
}

.posts__container {
    display:flex;
    flex-direction: column;
}

.headingText {
    color:lightgrey;
    font-size: 20px;
    margin-bottom: 20px;
}
.addButton {
    border-radius: 3px;
    transition: all .5s ease-in;
    align-self: center;
}

.addButton:hover {
    cursor: pointer;
    color:green;
    background-color: #FFFFFF;
    border: 1px solid green;
    font-size: 20px;
}

textarea {
    width: 100%;
    display:block
}

.textarea {
    display: flex;
    flex-direction: column;
}