.nav div {
    width: 30px;
}
.item a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: 5px transparent;
    transition: all ease-in-out .2s;
    margin-left: 5px;
    
}
.item a:hover {

    color: rgb(167, 163, 163);
    border-bottom: 5px solid #FFFFFF;
}
.item a.active {
    color: gold;
}
.nav {
    grid-area:n;
    background-color:green;
    display:flex;
    flex-direction: column;

}

.item:last-child {
    margin-top: 10px;
}