.dialog{
    margin-bottom: 5px;
}
.dialogs{
    display:grid;
    grid-template-columns: 10fr 10fr;

}
.dialogs_item{
    padding: 10px;

}
.href.active {
    color: gold;
    font-size: 20px;
}

.messages {
    padding: 10px;
}
.message {
    margin-bottom: 5px;
}
.href {
    text-decoration: none;
    color: black;
    transition: font-size .5s ease;
}
.href:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem
}

.addButton:hover {
    cursor: pointer;
    color:green;
    background-color: #FFFFFF;
    border: 1px solid green;
    font-size: 20px;
}
.addButton {
    border-radius: 3px;
    transition: all .5s ease-in;
    align-self: center;
    width: 25%
}

.textarea {
    display: flex;
    flex-direction: column;
}
textarea{
    align-self: center;
}